# Dependencies
node_modules
npm-debug.log

# Testing
coverage
.nyc_output
tests

# Environment files
.env
.env.local
.env.*.local

# Source (we copy dist instead)
# src

# IDE
.vscode
.idea
*.swp

# OS
.DS_Store

# Logs
*.log

# Git
.git

# Documentation
*.md
!README.md
